<div class="loaders">
  <div class="loader">
    <div id="certifis"></div>
    <span class="text-center txt-loader">Carregando</span>
  </div>
</div>
<section class="interna">
  <section class="banner-interna">
    <div class="container">
      <div class="banner-text">
        <h4>Contato</h4>
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
      </div>
    </div>
  </section>

  <section class="description-interna">
    <div class="container">
      <div class="contact-details-inner">
        <div class="row">
          <div class="col-lg-6">
            <div class="contact-text contact-text-contato">
              <div class="main-title title-contact">
                <img src="assets/images/img-sobre.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="contact-form">
              <form class="contact-us-form row" action="#" method="post" id="contactForm" novalidate="novalidate">
                <div class="form-group col-lg-6">
                  <input type="text" class="form-control" id="name" name="name" placeholder="Nome">
                </div>
                <div class="form-group col-lg-6">
                  <input type="email" class="form-control" id="email" name="email" placeholder="E-mail">
                </div>
                <div class="form-group col-lg-6">
                  <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone">
                </div>
                <div class="form-group col-lg-6">
                  <input type="email" class="form-control" id="celular" name="celular" placeholder="Celular">
                </div>
                <div class="form-group col-lg-8">
                  <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Cidade">
                </div>
                <div class="form-group col-lg-4">
                  <input type="email" class="form-control" id="uf" name="uf" placeholder="UF">
                </div>
                <div class="form-group col-lg-12">
                  <textarea class="form-control" name="mensagem" id="mensagem" rows="1" placeholder="Mensagem"></textarea>
                </div>
                <div class="form-group offset-lg-8 col-lg-4 col-md-4">
                  <button type="submit" value="submit" class="btn submit_btn2 form-control">Enviar</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-4 contacts">
            <i class="fas fa-map-marker-alt"></i>
            <span>
              Rua Ponte Serrada, 566, Sala 02, <br>
              Comasa, 89.228-271, Joinville -SC
            </span>
          </div>
          <div class="col-lg-4 contacts">
            <i class="fas fa-phone"></i>
            <span>
              (41) 99334.9887 <br>
              (41) 99875.9809
            </span>
          </div>
          <div class="col-lg-4 contacts">
            <i class="fas fa-envelope"></i>
            <span>
              contato@certifis.com.br
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>