<div class="loaders">
  <div class="loader">
    <div id="certifis"></div>
    <span class="text-center txt-loader">Carregando</span>
  </div>
</div>
<section class="interna">
  <section class="banner-interna">
    <div class="container">
      <div class="banner-text">
        <h4>Pontos de Atendimento</h4>
        <h5>Localize o escritório mais próximo, para melhor atendê-lo.</h5>
      </div>
    </div>
  </section>

  <section class="description-interna">
    <div class="container">
      <div class="contact-details-inner">
        <div class="row" *ngFor="let pontos of arPontosAtendimento">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="contact-text">
              <div class="main-title row">
                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                  <h2 class="title-posto">{{ pontos.local }}</h2>
                  <p>
                    <i class="fas fa-map-marker-alt"></i> {{ pontos.endereco }}
                  </p>
                  <p>
                    <i class="fas fa-mobile-alt"></i> {{ pontos.contatos }}
                  </p>
                  <p>
                    <small *ngFor="let horarios of pontos.horarios">
                      <span>{{ horarios.nome }}</span> {{ horarios.horario }} <br>
                    </small>
                  </p>
                  <h2 class="title-servicos">Serviços</h2>
                  <ul class="row servicos">
                    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-12" *ngFor="let servico of pontos.servicos">
                      <span>{{ servico.nome }}</span>
                    </li>
                  </ul>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                  <owl-carousel [options]="{items: 1, dots: false, nav: true}" [carouselClasses]="['owl-theme', 'row', 'sliding']">
                    <div class="item" *ngFor="let imagem of pontos.imagens">
                      <img [src]="imagem.url" class="img-fluid" [alt]="imagem.alt">
                    </div>
                  </owl-carousel>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>