<div class="loaders">
  <div class="loader">
    <div id="certifis"></div>
    <span class="text-center txt-loader">Carregando</span>
  </div>
</div>
<section class="interna solucoes">
  <section class="banner-interna">
    <div class="container">
      <div class="banner-text">
        <h4>Soluções</h4>
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
      </div>
    </div>
  </section>

  <section class="description-interna description-certificado">
    <div class="container">
      <div class="contact-details-inner">
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3">
            <img src="assets/images/banner-1.png" class="img-fluid img-certificado" alt="">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 col-12 certificado">
                <span class="float-left">
                  e-CPF <br>
                  <b>A1 | Arquivo</b>
                </span>
                <span class="validade float-right mt-0 text-center">
                  1 <br>
                  <b>Ano</b>
                </span>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 col-12 certificado">
                <span class="float-left">
                  e-CPF <br>
                  <b>A2 | Cartão</b>
                </span>
                <span class="validade float-right mt-0 text-center">
                  2 <br>
                  <b>Anos</b>
                </span>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 col-12 certificado">
                <span class="float-left">
                  e-CPF <br>
                  <b>A2 | Token</b>
                </span>
                <span class="validade float-right mt-0 text-center">
                  2 <br>
                  <b>Anos</b>
                </span>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 col-12 certificado">
                <span class="float-left">
                  e-CPF <br>
                  <b>A3 | Cartão</b>
                </span>
                <span class="validade float-right mt-0 text-center">
                  3 <br>
                  <b>Anos</b>
                </span>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 col-12 certificado">
                <span class="float-left">
                  e-CPF <br>
                  <b>A3 | Token</b>
                </span>
                <span class="validade float-right mt-0 text-center">
                  3 <br>
                  <b>Anos</b>
                </span>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 text-center valor-validade">
            <span>
              e-CPF A3 | Token <br>
              <b class="validade">Validade: 3 Anos</b>
            </span>
            <span class="valor">
              R$ <b>409,00</b> <br>
              em até 10 x de R$ 40,90
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>