<section class="interna">
    <section class="banner-interna">
      <div class="container">
        <div class="banner-text">
          <h4>Soluções</h4>
          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
        </div>
      </div>
    </section>
  
    <section class="description-interna">
      <div class="container">
        <div class="contact-details-inner">
          <div class="row">
            <div class="col-lg-8 col-md-8">
              <div class="contact-text">
                <div class="main-title border-bottom">
                  <!-- <h2>Nossa História</h2> -->
                  <p>
                    Em breve ...
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>