<div class="loaders">
  <div class="loader">
    <div id="certifis"></div>
    <span class="text-center txt-loader">Carregando</span>
  </div>
</div>
<section class="interna solucoes">
  <section class="banner-interna">
    <div class="container">
      <div class="banner-text">
        <h4>Soluções</h4>
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
      </div>
    </div>
  </section>

  <section class="description-interna description-certificado">
    <div class="container">
      <div class="contact-details-inner">
        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5 col-xs-5 col-5 certificado certificado-individual text-center" routerLink="/solucoes/e-cpf">
            Soluções e-CPF
          </div>
          <div class="col-xl-5 col-lg-5 col-md-5 col-xs-5 col-5 offset-2 certificado certificado-individual text-center" routerLink="/solucoes/e-cnpj">
            Soluções e-CNPJ
          </div>
        </div>
      </div>
    </div>
  </section>
</section>